/*
    Generic HTML elements
 */

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 40px auto;
    padding: 0 20px;
    max-width: 800px;
}

h1 {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    line-height: 1.5em;
    margin-bottom: 40px;
    margin-top: 40px;
}

h2 {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    margin-top: 40px;
}

a {
    color: #A157E8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #333;
    line-height: 1.5em;
}

/*
    Fix broken monospace font-sizing on most browsers
 */

pre, code, kbd, samp, tt {
    font-family: monospace, monospace;
    font-size: 1em;
}

/*
    Navigation & footer
 */

nav ul, footer ul {
    display: inline-block;
    font-size: 1.2em;
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
}

/*
    Navigation
 */

nav {
    color: #333;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 40px;
}

nav ul {
    width: 50%;
    white-space: nowrap;
}

nav ul#nav li {
    float: left;
    margin-right: 30px;
}

nav ul#ava li {
    float: right;
}

/*
    Footer
 */

footer {
    font-size: 0.75em;
    border-top: 1px solid #d5d5d5;
    margin-top: 40px;
}

footer ul.nav li {
    display: inline;
    float: left;
    margin-right: 30px;
}

footer ul.by {
    display: inline;
    float: right;
}

/*
    Blog posts list
 */

ul.posts {
    margin: -25px 0;
    padding: 0;
}

ul.posts li {
    list-style: none;
}

ul.posts li p.meta {
    color: #999;
    margin: 0;
}

ul.posts a {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: #333;
}

ul.posts a:hover {
    color: #A157E8;
}

/*
    Blog posts
 */

p.meta {
    color: #999;
    margin: -30px auto 40px;
}

div.post ul li {
    line-height: 1.5em;
}

div.post pre code {
    background-color: #fcfcfc;
    display: block;
    line-height: 1.4em;
    margin: auto -10px;
    overflow: scroll;
    padding: 10px;
}
