/*
    Generic HTML elements
 */

html, body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

div.body {
    min-height: 100%;
    position: relative;
}

div.container {
    margin: 0 auto;
    max-width: 736px;
    padding: 0 10px;
}

h1 {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 200%;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 40px;
    margin-top: 40px;
}

h1 a {
    color: #333;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 150%;
    font-weight: 200;
    margin-top: 40px;
}

a {
    color: #A157E8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #333;
    line-height: 1.5em;
}

/*
    Fix broken monospace font-sizing on most browsers
 */

pre, code, kbd, samp, tt {
    font-family: monospace, monospace;
    font-size: 1em;
}

/*
    Navigation & footer
 */

nav ul, footer ul {
    display: inline-block;
    font-size: 1.2em;
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
}

/*
    Navigation
 */

header {
    width: 100%;
    height: 128px;
    text-align: center;
    background: url(../img/avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -30px;
}

header .nav {
    position: relative;
    line-height: 1.5em;
    top: 100%;
    transform: translateY(-100%);
    background: rgba(255, 255, 255, 0.75);
    padding: 4px;
}

header .nav a {
    color: #333;
}

/*
    Footer
 */

footer {
    font-size: 90%;
    margin-top: -20px;
    padding-bottom: 20px;
}

footer .nav, footer .by {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

/*
    Blog posts list
 */

ul.posts {
    margin: -64px 0;
    padding: 0;
}

ul.posts li {
    list-style: none;
}

ul.posts li p {
    color: #999;
}

/*
    Blog posts
 */

p.meta {
    color: #999;
    font-size: 0.9rem;
    margin: -30px auto 40px;
    text-transform: uppercase;
}

div.post ul li {
    line-height: 1.5em;
}

div.post pre code {
    background-color: #f5f5f5;
    display: block;
    font-size: 0.95em;
    line-height: 1.4em;
    margin: 20px -10px;
    overflow: scroll;
    padding: 10px;
}

/*
    Separators
 */

p.separator {
    color: #666;
    font-size: 2em;
    margin: 40px 0;
    text-align: center;
}

hr {
    border: 0;
    border-top: 4px solid #f5f5f5;
    margin: 40px -10px;
}

/*
    Pagination
 */

div.pagination {
    text-align: center;
    margin-top: -20px;
    margin-bottom: -20px;
}

/*
    Smaller devices
 */

@media screen and (max-width: 756px) {
    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 130%;
    }

    hr {
        margin: 40px 10px;
    }
}
