/*
    Generic HTML elements
 */

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

div.wrapper {
    background-color: #f5f5f5;
}

div.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 10px;
}

h1 {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 200%;
    font-weight: 200;
    line-height: 1.5em;
    margin-bottom: 40px;
    margin-top: 40px;
}

h2 {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 150%;
    font-weight: 200;
    margin-top: 40px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 120%;
    }
}

a {
    color: #A157E8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #333;
    line-height: 1.5em;
}

/*
    Fix broken monospace font-sizing on most browsers
 */

pre, code, kbd, samp, tt {
    font-family: monospace, monospace;
    font-size: 1em;
}

/*
    Navigation & footer
 */

nav ul, footer ul {
    display: inline-block;
    font-size: 1.2em;
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
}

/*
    Navigation
 */

nav {
    color: #333;
    margin-bottom: -40px;
}

nav ul {
    margin-bottom: 14px;
}

nav ul#nav {
    width: 66%;
}

nav ul#ava {
    width: 34%;
}

nav ul#nav li {
    float: left;
    margin-right: 20px;
}

nav ul#ava li {
    float: right;
}

/*
    Footer
 */

footer {
    font-size: 80%;
    margin-top: -40px;
}

footer ul.nav {
    width: 100%;
}

footer ul.nav li {
    float: left;
    margin-left: 4px;
    margin-right: 20px;
}

footer ul.by {
    width: 100%;
}

footer ul.by li {
    float: right;
    margin-right: 4px;
}

/*
    Blog posts list
 */

ul.posts {
    margin: -25px 0;
    padding: 0;
}

ul.posts li {
    list-style: none;
}

ul.posts li p.meta {
    color: #999;
    margin: 0;
}

ul.posts a {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: #333;
}

ul.posts a:hover {
    color: #A157E8;
}

/*
    Blog posts
 */

p.meta {
    color: #999;
    margin: -30px auto 40px;
}

div.post ul li {
    line-height: 1.5em;
}

div.post pre code {
    background-color: #f5f5f5;
    display: block;
    font-size: 0.95em;
    line-height: 1.4em;
    margin: 20px -10px;
    overflow: scroll;
    padding: 10px;
}

/*
    Separators
 */

p.separator {
    color: #666;
    font-size: 2em;
    margin: 40px 0;
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid #fff;
    margin: 40px -10px;
}

/*
    Pagination
 */

div.pagination {
    text-align: center;
    margin-top: -20px;
    margin-bottom: -20px;
}
