<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- so it actually looks like in Safari responsive design mode -->
        <meta name="viewport" content="width=device-width" />
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="body">
            <!-- Header / Navigation -->
            <div class="container">
                <header>
                    <div class="nav">
                        <a href="/">it was a one eyed, one horned, flying purple people eater...</a>
                    </div>
                </header>
                <hr>
            </div><!-- /.container -->

            <!-- Content -->
            <div class="container">{{ content }}</div><!-- /.container -->

            <!-- Footer -->
            <div class="container">
                <hr>
                <footer>
                    <div class="nav">
                        <a href="/blog">Archive</a> -
                        <a href="/blog/atom.xml">Atom</a> -
                        <a href="/blog/feed.json">JSON</a>
                    </div>
                    <div class="by">
                        made by <a href="/about">Carsten Könemann</a>, <a href="https://twitter.com/cargath">@cargath</a>
                    </div>
                </footer>
            </div><!-- /.container -->
        </div><!-- /.body -->

        <!-- link to main stylesheet -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    </body>
</html>
