<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <!-- Header / Navigation -->
        <div class="wrapper">
            <div class="container">
                <nav>
                    <ul id="nav">
                        <li>it was a one eyed, one horned, flying purple people eater...</li>
                    </ul><ul id="ava">
                        <li><a href="/"><img src="/img/avatar.png" height="128" width="128"></a></li>
                    </ul>
                </nav>
                <hr>
            </div><!-- /.container -->
        </div><!-- /.wrapper -->

        <!-- Content -->
        <div class="container">{{ content }}</div><!-- /.container -->

        <!-- Footer -->
        <div class="wrapper">
            <div class="container">
                <hr>
                <footer>
                    <ul class="nav">
                        <li><a href="/blog">Archive</a></li>
                        <li><a href="/blog/atom.xml">Atom</a></li>
                        <li><a href="/blog/feed.json">JSON</a></li>
                    </ul>
                    <ul class="by">
                        <li>made by <a href="/about">Carsten Könemann</a>, <a href="https://twitter.com/cargath">@cargath</a></li>
                    </ul>
                </footer>
            </div><!-- /.container -->
        </div><!-- /.wrapper -->
    </body>
</html>
